// Definições de cores
$corFundoCorpo: #f5f6fa;
$corFundoCabecalho: #182C61;
$corFundoBotao: #44bd32;
$corFundoBotaoHover: #4cd137;
$corTextoLinks: #fff;

// Definições de medidas
$larguraMaximaDesktop: 1024px;
$larguraMaximaTablet: 80%;
$espacamentoColunaDesktop: 1%;
$espacamentoColunaTablet: 3%;
$espacamentoLinha: 4%;
